global
    log         fd@2 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    stats socket /var/lib/haproxy/stats expose-fd listeners
    master-worker

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold other      10s
    hold refused    10s
    hold nx         10s
    hold timeout    10s
    hold valid      10s
    hold obsolete   10s

defaults
    timeout connect 10s
    timeout client 30s
    timeout server 120s
    log global
    mode http
    option forwardfor

frontend proxy
    bind *:80
    timeout client 3s

    # Remove the port number from the Host header. This is only needed
    # when running locally under docker since the connections use different
    # ports.
    http-request set-header host %[hdr(host),lower,field(1,:)]

    use_backend stat if { path -i /stats }
    use_backend server

backend server
    # Ensure connections are routed properly in case there are multiple websocket proxies.
    balance hdr(host)
    timeout server 3s
    timeout tunnel 3600s

    server-template server 1-5 server:8080 check resolvers docker init-addr none

backend stat
    stats enable
    stats uri /stats
    stats refresh 5s
    stats show-legends
    stats show-node
